<% content_for :jumbotron do %>
<div class="jumbotron jumbotron-custom text-center v-center">
  <div class="row content-text ">
    <h1>Orlando.io</h1>
    <h2>Startup Community Directory</h2>
    <h3><%= @users.count %> People have joined Orlando.io </h3>
    <%= link_to new_user_registration_path do %>
    <button class="btn btn-success btn-lg">
        <i class="fa fa-heart fa-lg"> </i>
        Add Your Name!
    </button>
    <% end %>


  </div>
</div> 
<% end %>


 <div class="container">
    <!-- Example row of columns -->
    <div class="row profile-list">
    <%  @users.each do |user| %>
      <div class="col-md-4">
        <h1>
            <%= link_to user.full_name, profile_path(user) %>
        </h1>
            <%= image_tag user.profile.avatar(:medium) %><br/>
      </div>
    <% end %>
    </div>
    <%= paginate @users %>
  </div>

     

