<% content_for :jumbotron do %>
<div class="container-fluid">
<div class="jumbotron jumbotron-custom text-center v-center">
  <div class="row content-text ">
    <h1>Orlando.io</h1>
    <h2>Startup Community Directory</h2>
    <% if current_user %>
      <%= link_to profile_index_path do %>
      <button class="btn btn-success btn-lg">
          <i class="fa fa-users fa-lg"> </i>
          Meet Orlando Tech!
      </button>
      <% end %>
    <% else %>
      <%= link_to new_user_registration_path do %>
      <button class="btn btn-success btn-lg">
          <i class="fa fa-heart fa-lg"> </i>
          Add Your Name!
      </button>
      <% end %>
    <% end %>
    <!-- Photo credits: Athena Lluz http://www.flickr.com/photos/pandapples/8605120956/  -->
  </div>
</div> 
</div>
<% end %>


 <div class="container">
    <!-- Example row of columns -->
    <div class="row profile-list">
    <%  @users.each do |user| %>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <h1>
            <%= link_to user.full_name, profile_path(user) %>
        </h1>
            <%= image_tag user.profile.avatar(:medium), class: "img-responsive" %><br/>
      </div>
    <% end %>
    </div>
    <%= paginate @users %>
  </div>

     