<div class="container">
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {class: "form-signin"}) do |f| %>
    <%= devise_error_messages! %>
    
      <%= f.text_field :full_name, :autofocus => true, class: "form-control", placeholder: "Full Name" %>
      <%= f.email_field :email, :autofocus => true, class: "form-control", placeholder: "Email Address" %>
      <%= f.password_field :password, :autofocus => true, class: "form-control", placeholder: "Password" %>
      <%= f.password_field :password_confirmation, :autofocus => true, class: "form-control", placeholder: "Confirm Password" %>
      <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
   
    <p>Have an account?
    <%= render "devise/shared/links" %> </p>
<% end %>
</div>

d