<div class="container">
<br/>

<% if @profile.errors.any? %>
  <% @profile.errors.full_messages.each do |msg| %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> <%= msg %>
</div>
  <% end %>
<% end %>

<%= nested_form_for @profile, html: {class: "form-horizontal" } do |f| %>
 <fieldset>

<div class="form-group">
<%= f.label :bio, class: "col-md-4 control-label"  %>
<div class="col-md-4">
<%= f.text_area :bio, cols: 100 ,rows: 6, placeholder: "Describe Yourself", class: "form-control"%>
</div>
</div>

<div class="form-group">
<%= f.label :category, class: "col-md-4 control-label" %>
<div class="col-md-4">
<%= f.select :category, %w(Business Designer Developer Entrepreneur Student Blogger), class: "form-control" %>
</div>
</div>

<div class="form-group">
<%= f.label :tag_list, "Skills: (separated by commas) ", class: "col-md-4 control-label" %>
<div class="col-md-4">
<%= f.text_field :tag_list, id: "skills_tags", "data-pre" => @profile.tags.map{|t| {:id => t.name, :name => t.name }}.to_json %>
</div>
</div>


<div class="form-group">
<%= f.label :avatar, "Profile Picture", class: "col-md-4 control-label" %>
<div class="col-md-4">
 <%= f.file_field :avatar, class: "input-file" %>
<% unless @user.profile.avatar %>
  <%= image_tag @user.profile.avatar(:thumb) %>
<%end%>
</div>
</div>

<div class="form-group">
<%= f.label :social_links, "Social", class: "col-md-4 control-label" %>
<div class="col-md-4">
<%= f.fields_for :social_links, html: {class: ""} do |m| %>
<%= m.select :account, %w(Facebook Twitter Linkedin Github Dribbble Website), class: "form-control"  %>
<%= m.text_field :link, class: "", placeholder: "www.twitter.com/orlandoio" %>
<%= m.link_to_remove "", class: "glyphicon glyphicon-ban-circle" %>
<% end %>
<% f.link_to_add "Add", :social_links, class: "btn btn-primary " %>

<%= f.link_to_add :social_links do %>
  <button class="btn btn-success">
          <i class="fa fa-plus"> </i>

      </button>
  <% end %>
</div>
</div>





<div class="form-group">
  <label class="col-md-4 control-label" for=""></label>
  <div class="col-md-4">
    <%= f.submit "Update", class: "btn btn-success form-control" %>
  </div>
</div>

</fieldset>
<% end %>





</div>