<div class="container">

  <h1>Orlando Tech <%= @users_count %> members strong
   <%= tweet_button(:url => "http://orlando.io", :text => "Join Orlando.io! Orlando's tech and startup community directory.", count: "horizontal") %>
  </h1>

 <div id="tag_cloud">
  <% @tag_cloud.each do |tag| %>
    <%= link_to tag.name, tag_path(tag.name) %>
  <% end %>
  </div>

<div class="row profile-list">
    <%  @users.each do |user| %>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <h1><%= link_to user.full_name, profile_path(user) %></h1>
        <%= image_tag user.profile.avatar(:medium), class: "img-responsive" %><br/>
        <h4><% user.profile.category %></h4>
      </div>
    <% end %>
    </div>
    <%= paginate @users %>
</div>

