<div class="container">

  <h1>Orlando Tech <%= @users_count %> members strong
   <%= tweet_button(:url => "http://www.orlando.io", :text => "Join Orlando.io! Orlando's tech and startup community directory. #orlandotech #orltech #orlandoio", count: "horizontal", via: "orlndotech") %>
  </h1>

<form action="/profile/" method="get">
  <%= select_tag :tags, options_for_select(@tag_cloud), :onchange => "this.form.submit();", data: { placeholder: "Search skills" }   %>
</form>

<div class="row profile-list">
    <%  @users.each do |user| %>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <h1><%= link_to user.full_name, profile_path(user) %></h1>
        <%= link_to (image_tag user.profile.avatar(:medium)),profile_path(user) , class: "img-responsive" %><br/>
        <h4><% user.profile.category %></h4>
      </div>
    <% end %>
    </div>
    <%= paginate @users %>
</div>
