<div class="container">

 <div class="row">
    <div class="col-md-4 col-xs-12">
    <h1><%= @user.full_name %>
    <% if current_user == @user %>
    <%= link_to "Edit", edit_profile_path, class: "btn btn-primary"%>
  <% end %>
  </h1>
    <% if @profile.avatar.present? %>
     <%= image_tag @profile.avatar(:large), class: "img-responsive" %>
    <% end %>
    <h2><%= render "social" %></h2>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <div id="bio">
      <h3><%= markdown(@profile.bio) %> </h3>

      <% if @profile.tag_list.present? %>
      <p><%= raw @profile.tag_list.map {|t| link_to t, tag_path(t)}.join(", ") %></p>
      <% end %>

  <br/>
    </div>
  </div>
</div>
</div>


