<div class="container"> 
  <div>
    <h1><%= @user.full_name %></h1>
    
  </div>
  
  <div class="row"> 
    <div class="col-md-4">
    <% if @profile.avatar.present? %>
    <%-# binding.pry %>
     <%= image_tag @profile.avatar(:large) %>
    <% else %>
       <div class="alert alert-warning alert-dismissable">
        Complete your <%= link_to "profile", edit_profile_path %> and get your face listed!
      </div>
    <% end %>
    <h2><%= render "social" %></h2>
    </div>
    

    <div class="col-md-6 col-md-offset-1">
      <h3><%= @profile.bio %> </h3>
      <%= @profile.category %>
      <p>Skills: <%= raw @profile.tag_list.map {|t| link_to t, tag_path(t)}.join(", ") %></p>
      <!-- Add authorization for edit -->
  <br/>
  <% if current_user == @user %>
    <%= link_to "Edit Profile", edit_profile_path, class: "btn btn-primary"%>
  <% end %>
    </div>
  

  
</div>
</div>


