<div class="container">
  <br/>
  <h1><%= @user.full_name %></h1> 
  <%= image_tag @profile.avatar(:large) %>
  <h1>I am a <%= @profile.bio %> </h1>
  <h1>I am <%= @profile.category %></h1>
  <h1>Where to find me:

    <% for social_links in @profile.social_links %>
      <% case social_links.account %>
        <% when "Facebook" %>
          <%= link_to social_links.link do %>
            <i class="fa fa-facebook fa-1x"> </i>
          <% end %>
        <% when "Github" %>
          <%= link_to social_links.link do %>
            <i class="fa fa-github fa-1x"> </i>
          <% end %>
        <% when "Twitter" %>
          
          <%= link_to social_links.link do %>
            <i class="fa fa-twitter fa-1x"> </i>
          <% end %>
        <% when "Linkedin" %>
          
          <%= link_to social_links.link do %>
            <i class="fa fa-linkedin fa-1x"> </i>
          <% end %>
      <% end %>
    <% end %>
    </h1>
</div>


